* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

ol, ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.hero {
  margin-top: 10px;
}

.hero__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item {
  margin-left: 48px;
}

.list__control {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #A53DFF);
}

.gilbert__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gilbert__name h2 {
  width: 579px;
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  margin-bottom: 24px;
}
.gilbert__name p {
  width: 648px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.gilbert__name button {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background: var(--Primary-500, #A53DFF);
}
.gilbert__name .img__two {
  margin-top: 142px;
}

.professional__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.professional__div h2 {
  width: 536px;
  color: var(--Gray-900, #132238);
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 32px;
}
.professional__div p {
  width: 536px;
  color: var(--Gray-600, #556070);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.professional__div button {
  color: white;
  height: 48px;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--Primary-500, #A53DFF);
  margin-right: 16px;
  border: none;
}
.professional__div .div__div {
  display: flex;
  align-items: center;
}

.work {
  background: var(--Gray-50, #F0F1F3);
}

.work__img {
  margin: 140px 0;
}

.portfolio__info {
  margin-top: 100px;
}
.portfolio__info .info {
  text-align: center;
  color: var(--Gray-900, #132238);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.portfolio__info .text {
  margin-left: 350px;
  width: 577px;
  color: var(--Gray-400, #87909D);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
  margin-top: 70px;
}
.portfolio__list li {
  width: 424px;
  height: 476px;
}
.portfolio__list span {
  color: var(--Gray-400, #87909D);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.portfolio__list b {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.portfolio__list p {
  width: 360px;
  margin-top: 12px;
  color: var(--Gray-600, #556070);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.portfolio__list button {
  padding: 12px 20px;
  color: #A53DFF;
  border-radius: 4px;
  border: 1px solid var(--Primary-500, #A53DFF);
  background: var(--Gray-White, #FFF);
}
.portfolio__list button:hover {
  color: white;
  background-color: #A53DFF;
  transition: all ease 1s;
}

.control {
  margin-top: 60px;
  margin-left: 600px;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  background: var(--Primary-500, #A53DFF);
}

.project {
  background-color: #132238;
  margin-top: 100px;
  padding: 100px;
}
.project h2 {
  width: 621px;
  color: var(--Gray-White, #FFF);
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.project p {
  color: var(--Gray-300, #A5ACB5);
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  width: 581px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.project button {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 4px;
  background: var(--Primary-500, #A53DFF);
}

.blog h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
  color: var(--Gray-900, #132238);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}
.blog p {
  padding-top: 24px;
  color: var(--Gray-400, #87909D);
  width: 540px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 70px;
}
.blog img {
  margin-left: -70px;
}/*# sourceMappingURL=main.css.map */